src/main/resources/srcgen4j-core-jamopp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   targetNamespace="http://www.fuin.org/srcgen4j/core/jamopp"
   xmlns:base="http://www.fuin.org/srcgen4j/core/base">
	
	<xs:import namespace="http://www.fuin.org/srcgen4j/commons" />
	<xs:import schemaLocation="srcgen4j-core-base.xsd" namespace="http://www.fuin.org/srcgen4j/core/base"/>
           	
	<!-- Configuration for the parser -->
	
	<xs:element name="jamopp-parser" type="jamopp:jamopp-parserType"
		xmlns:jamopp="http://www.fuin.org/srcgen4j/core/jamopp" />
	
	<xs:complexType name="jamopp-parserType">
		<xs:sequence>
		    <xs:element type="sg4jc:variableType" name="variable" minOccurs="0" maxOccurs="unbounded" xmlns:sg4jc="http://www.fuin.org/srcgen4j/commons"/>
			<xs:element type="base:fileTypes" name="jar-files" minOccurs="0" maxOccurs="1" xmlns:jamopp="http://www.fuin.org/srcgen4j/core/jamopp" />
			<xs:element type="base:fileTypes" name="bin-dirs" minOccurs="0" maxOccurs="1" xmlns:jamopp="http://www.fuin.org/srcgen4j/core/jamopp" />
			<xs:element type="base:fileTypes" name="src-dirs" minOccurs="0" maxOccurs="1" xmlns:jamopp="http://www.fuin.org/srcgen4j/core/jamopp" />
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>
