src/main/resources/srcgen4j-core-emf-0_4_3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns="http://www.fuin.org/srcgen4j/core/emf/0.4.3"
   xmlns:sg4jc="http://www.fuin.org/srcgen4j/commons/0.4.3"
   targetNamespace="http://www.fuin.org/srcgen4j/core/emf/0.4.3">

    <xs:import namespace="http://www.fuin.org/srcgen4j/commons/0.4.3" schemaLocation="http://www.fuin.org/xsd/srcgen4j-commons-0_4_3.xsd" />

    <!-- Configuration for the generator -->

    <xs:element name="emf-generator-config" type="emf-generatorConfigType" />

    <xs:complexType name="emf-generatorConfigType">
        <xs:sequence>
           <xs:element type="sg4jc:variableType" name="variable" minOccurs="0" maxOccurs="unbounded" />
          <xs:element type="sg4jc:artifactFactoryConfigType" name="artifact-factory" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

</xs:schema>
