src/main/resources/srcgen4j-core-base-0_4_3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns="http://www.fuin.org/srcgen4j/core/base/0.4.3"
   targetNamespace="http://www.fuin.org/srcgen4j/core/base/0.4.3">
	
	<xs:complexType name="fileType">
		<xs:attribute type="xs:string" name="path" use="required" />
		<xs:attribute type="xs:string" name="name" use="optional" />
	</xs:complexType>
	
	<xs:complexType name="fileTypes">
		<xs:sequence>
			<xs:element type="fileType" name="file" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>
